@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ==========Header========== */

.header-menu {
    padding: 24px 0;
}

.header-menu-list {
    list-style: none;
    text-align: center;
}

.header-menu-list-item {
    display: inline-block;
    padding: 5px 36px;
}

.header-menu-list-item-link {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

/* ==========Main========== */

.home {
    margin-bottom: 48px;
}

.image-wrapper {
    max-width: 100%;
    height: auto;
}

.home-img {
    width: 100%;
    vertical-align: top;
}

.content {
    margin-bottom: 53px;
}

.content-wrapper {
    margin-bottom: 66px;
}

.content-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 38px;
    color: #373737;
}

.content-text {
    text-align: center;
    line-height: 160%;
    letter-spacing: 2px;
    color: #373737;
}

.content-text:not(:last-child) {
    margin-bottom: 28px;
}

.link-wrapper {
   text-align: center;
}

.content-link {
    display: inline-block;
    padding: 18px 43px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #FF0000;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

/* ==========Footer========== */

.copyright {
    padding: 29px 37px 29px 0;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: end;
    color: #373737;
}
